* {
  box-sizing: border-box;
}

link[rel="manifest"] {
  --pwacompat-splash-font: 24px system-ui;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  background: black;
  color: white;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 3rem;
  border-bottom: 1px solid #ffffff47;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  justify-content: center;
}
header > div {
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  max-width: 980px;
}

header img {
  width: 1.5em;
  height: 1.5em;
}
#mainframe {
  flex-grow: 1;
  position: relative;
  overflow: auto;
  overflow: overlay;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: y mandatory;
}
#mainframe > * {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  flex-direction: column;
  padding: 2em;
}
#mainframe h1 {
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
  color: #f5f5f7;
}
iframe#stream {
  flex-grow: 1;
  margin: 32px;
  border-radius: 13px;
  box-shadow: 0 3px 26px #ffffff38, 0 1px 3px #ffffff7a;
}
nav ul {
  display: flex;
  margin: 0;
}

nav ul li {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  display: inline-block;
  margin-left: 9px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #66bbff;
}

#logo {
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
}

.adsbycontextcue{
  filter: grayscale(1) invert(1) brightness(2.5) invert(1);
  display:block;
}
