* {
    box-sizing: border-box;
}

link[rel="manifest"] {
    --pwacompat-splash-font: 24px system-ui; }

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    background: black;
    color: white;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 3rem;
    border-bottom: 1px solid #ffffff47;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    justify-content: center;
}

header > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.container {
    max-width: 980px;
    align-self: center;
    width: 100%;
}

header img {
    width: 1.5em;
    height: 1.5em;
}

#mainframe {
    flex-grow: 1;
    position: relative;
    overflow: auto;
    overflow: overlay;
}

#mainframe > * {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: 0.011em;
    flex-direction: column;
    padding: 2em;
}

#mainframe h1 {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.003em;
    color: #f5f5f7;
}

#stream {
    flex-grow: 1;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    display: inline-block;
    margin-left: 9px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #66bbff;
}

#logo {
    flex-grow: 1;
    color: #fff;
    text-decoration: none;
}

.ad {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 5rem);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.dd,.hh,.mm,.ss {
    display: inline-block;
    text-align: center;
}

.schedule, #stream {
    margin: 1rem;
    border: 1px solid #ffffff9e;
    box-shadow: 0 2px 7px #ffffff4a;
    border-radius: 10px;
    overflow: hidden;
}

.schedule > div {
    padding: 0.5rem;
    border-bottom: 1px solid #ffffff57;
    text-align: left;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 1rem;
}

@media (max-width: 600px) {
    .schedule > div {
        display: flex;
        flex-direction: column;
    }
}
.schedule>div>div:first-child {
    font-size: 1.2rem;
    color: #ffffffa8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}